@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  font-family: Consolas, monaco, monospace;
}

h1 {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  font-family: Consolas,monaco,monospace; 
}

li {
  list-style: none;
}